{% extends 'base.html.twig' %}

{% block container %}
<section id="main-content">
    <div class="col-md-4 col-sm-4 mb">
    <h1>Categorie</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom de categorie</th>
                <td>{{ categorie.nomcategorie }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>
        {{ include('categorie/_delete_form.html.twig') }}
    </div>
</section>


{% endblock %}
