
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script>
{% endblock %}
{% block tt %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
{% endblock %}

        {% block form %}
            <style>
                #calendrier{
                    width: 50%;
                    margin:   5em ;
                }
            </style>
        {% endblock %}

            {% block container %}
                <div id="calendrier">

                </div>

            {% endblock %}
        {% block features_area %}
            <div class="features_area">
                <div class="container">

                    <div class="col-xl-6">
                        <script>
                            window.onload = () => {
                                let calendarElt = document.querySelector("#calendrier")
                                let calendar = new FullCalendar.Calendar(calendarElt, {
                                    initialView: 'dayGridMonth',
                                    timeZone: 'Europe/Paris',
                                    headerToolbar:{
                                        start: 'prev,next today',
                                        center: 'title',
                                        end: 'dayGridMonth,timeGridWeek'
                                    },
                                    events: {{ data|raw }},
                                    editable: true,
                                    eventResizableFromStart: true
                                })
                                calendar.on('eventChange',(e) => {
                                    let url = '/api/${e.event.id}/edit'
                                    let donnees ={
                                        "title": e.event.title,
                                        "description": e.event.extendedProps.description,
                                        "start": e.event.start,
                                        "end": e.event.end,
                                        "backgroundColor": e.event.backgroundColor,
                                        "borderColor": e.event.borderColor,
                                        "textColor": e.event.textColor,
                                        "allDay": e.event.allDay
                                    }
                                    let xhr = new XMLHttpRequest

                                    xhr.open("PUT", url)
                                    xhr.send(JSON.stringify(donnees))
                                })
                                calendar.render()
                            }
                        </script>
                    </div>
                </div>
            </div>

        {% endblock %}
