{% extends 'baseUser.html.twig' %}
{% block container %}

    <section id="main-content">
        <div class="col-md-4 col-sm-4 mb">

            <h1>Participer </h1>


            {{ include('participation/_form.html.twig') }}


        </div>
    </section>

{% endblock %}
