
{% extends 'base.html.twig' %}

{% block container %}

    <section id="main-content">
        <div class="col-md-4 col-sm-4 mb">
            <h1> Modifier </h1>
            {{ include('events/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </section>

{% endblock %}