<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traitement de votre réclamation</title>
</head>
<body>
<h1>Traitement de votre réclamation</h1>
<p>Votre réclamation a été validée par l'administrateur</p>
<p></p>
</body>
</html>